
/* TEMPLATE > STRUCTURE */
header, main, footer {
  position: relative;
  width: 100%;
  min-height: 300px;
  color: #ffffff;
}
p {
  font-size: 2rem;
  text-align: center;
  padding: 40px;
}

/* TEMPLATE > HEADER */
header {
  background-color: #88811e;
}
.active {
  color: red;
}

/* TEMPLATE > MAIN */
main {
  background-color: #45818ba4;
}
.list-group {
  text-align: center;
}
/* main p {
  font-size: 20px;
}
*/

/* TEMPLATE > FOOTER */
footer {
  background-color: #271b3fb7;
}
