
/* TEMPLATE > STRUCTURE */
header, main, footer {
  position: relative;
  width: 100%;
  min-height: 200px;
  color: #ffffff;
}
p {
  font-size: small;
  text-align: center;
  padding: 40px;
}

/* TEMPLATE > HEADER */
header {
  background-color: #88811e;
}
.active {
  color: red;
}

/* TEMPLATE > MAIN */
main {
  background-color: #3c8337;
}

/* TEMPLATE > FOOTER */
footer {
  background-color: #271b3fb7;
}
